// out: css/style.css, sourcemap: true, compress: true, libs: nib

@import "component.styl";
@import "other.styl";
@import "nib/gradients";

body{
    color:red;

    h1{
        font-size : 10px;
    }
}
